nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand DomoticaTi
  button.navbar-toggler(
    data-toggle="collapse" 
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
  )

  .collapse.navbar-collapse#navbarNavAltMarkup
    .navbar-nav
      a.nav-item.nav-link(href="#") Dashboard
      a.nav-item.nav-link(href="/actuator.html") Actuators
      a.nav-item.nav-link(href="/sensor.html") Sensors            
      a.nav-item.nav-link(href="/arduino.html") Arduinos